/** {
    font-family: 'Lato',Arial ;
}
h1, h2, .portlet.box.green-haze > .portlet-title > .caption, a {
    font-family: 'Lato',Arial !important;
}
.title {
    font-family: 'Lato',Arial !important;
}
body {
    font-family: 'Lato',Arial !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato',Arial !important;
}*/

