
@{
    ViewBag.Title = "Index"; if (!Request.IsAjaxRequest()){Layout = "~/Views/Shared/_Layout.cshtml";}
}

<div class="row">
    <center><img src="~/Content/Images/SchoolImages/under_construction.jpg" /></center>
</div>
