@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.RptCurrEarningViewModel>


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryMonthId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
     
      
    </tr>


    <tr>
        <td></td>
        <td>
         
        </td>
        <td>
         
        </td>
        <td>
        
        </td>
        <td>
         
        </td>
       
       
    </tr>


</table>
