<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SchoolManagmentDBEntities" connectionString="metadata=res://*/DataBaseLayer.SchoolModel.csdl|res://*/DataBaseLayer.SchoolModel.ssdl|res://*/DataBaseLayer.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=196.218.183.97;initial catalog=SchoolManagmentDB;persist security info=True;user id=dev;password=Aa123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SchoolManagmentDBEntities" connectionString="metadata=res://*/DataBaseLayer.SchoolModel.csdl|res://*/DataBaseLayer.SchoolModel.ssdl|res://*/DataBaseLayer.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=campuserp;integrated security=True;user id=campuserp;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=False;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False&quot;" providerName="System.Data.EntityClient" />
	  <!--<add name="SchoolManagmentDBEntitiestaha" connectionString="Server=.;Database=campuserp;Trusted_Connection=True;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="campuserpEntitiestaha" connectionString="Server=.;Database=campuserp;Trusted_Connection=True;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> <add name="SchoolManagmentDBEntities1" connectionString="metadata=res://*/DataBaseLayer.SchoolModel.csdl|res://*/DataBaseLayer.SchoolModel.ssdl|res://*/DataBaseLayer.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.252;initial catalog=SchoolManagmentDB;user id=dev;password=Aa123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="campuserpEntities" connectionString="metadata=res://*/DataBaseLayer.ExternalSchoolModel.csdl|res://*/DataBaseLayer.ExternalSchoolModel.ssdl|res://*/DataBaseLayer.ExternalSchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=174.36.105.58,25000;initial catalog=campuserp;integrated security=False;user id=campuserp;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False&quot;" providerName="System.Data.EntityClient" />
	  <add name="SchoolManagmentDBEntitiestaha"
			   connectionString="metadata=res://*/DataBaseLayer.SchoolModel.csdl|res://*/DataBaseLayer.SchoolModel.ssdl|res://*/DataBaseLayer.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=campuserp;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			   providerName="System.Data.EntityClient" />
	  <add name="campuserpEntitiestaha"
		   connectionString="metadata=res://*/DataBaseLayer.ExternalSchoolModel.csdl|res://*/DataBaseLayer.ExternalSchoolModel.ssdl|res://*/DataBaseLayer.ExternalSchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=campuserp;User Id=sa;Password=CsharpN2NConnect@tb1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		   providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>