@using Campus.School.Management.Logic.Resources

@{
    ViewBag.Title = "ReportsIndex";
}

<div class="row">
    <center><img src="~/Content/Images/SchoolImages/under_construction.jpg" /></center>
</div>
