
@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.SupplierFormViewModel>
@using Campus.School.Management.Logic.Resources
@{
    ViewBag.Title = "Index"; if (!Request.IsAjaxRequest()) { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

@*<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<div class="ui masthead vertical segment primary">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui header normal ">
                <clr-icon shape="list" size="45"></clr-icon>
                @*<i class="feather  icon-map"></i>*@
                <div id="heading" class="content">
                    Approve Quotations
                </div>
                <div id="Sub" class="sub header">
                    @String.Format(GeneralResource.DescriptionAddRemove, @GeneralResource.Bank)
                </div>
            </h1>
        </div>
    </div>
</div>


<div class="ui main container">

    <div class="ui segment anim">
        <div class="toolspace">
            @*<a href="#" id="Add" class="ui labeled icon primary  button">
                <i class="plus icon"></i>
                @GeneralResource.CreateNew
            </a>*@
        </div>
        <div class="ui container">
            <div id="div-record">
                @Html.Partial("_List", Model)
            </div>
        </div>
    </div>
</div>
