
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Site Properities -->
    <meta name="generator" content="DocPad v6.79.4" />

    <title>Campus ERP</title>


    <title>Login</title>


    <link href="~/Content/Css/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Login.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Scripts/semantic.min.js"></script>
    <script src="~/Content/Scripts/Site/Site.ui.js"></script>

</head>

<body style="background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">

    <div class="ui container" style="position:absolute;top:15%;left:10%;right:10% ;z-index:100">
        <div class="ui  text  container" style="width:500px">
            @RenderBody()
        </div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        @*@<li></li>
            <li></li>
            <li></li>
            <li></li>*@
    </ul>
</body>
</html>
