@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="content">  
     
    <h4>@ViewBag.Title.</h4> 

    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

